<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core, Version=2.0.0.1145, Culture=neutral, PublicKeyToken=9fc386479f8a226c"/>
      <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core, Version=2.0.0.1145, Culture=neutral, PublicKeyToken=9fc386479f8a226c"/>
  </configSections>
  <MsmqTransportConfig InputQueue="Test" ErrorQueue="Error" NumberOfWorkerThreads="1" MaxRetries="5" />
  <UnicastBusConfig>
  </UnicastBusConfig>
</configuration>