@using Docs.Core
@{ Page.Title = "BclEx"; }
<h1>
    Welcome to Bcl<sup>ex</sup></h1>
<p>
    BclEx is a suite of packages for the .NET Framework that extend the system namespace with helpful classes, abstractions and extensions methods to accelerate development.
</p>

