@using Docs.Core
@{ Page.Title = "BclEx - Suite"; }
<h1>
    Suite of Packages</h1>

<p>
    Bcl<sup>ex</sup> is a suite of packages that accelerate development.
</p>
<h2>
    BclEx-Abstract</h2>
<p>
    Abstract
</p>
<h2>
    BclEx-Extend</h2>
<p>
    Abstract
</p>
<h2>
    BclEx-Web</h2>
<p>
    Abstract
</p>
<h2>
    Dagent</h2>
<p>
    Abstract
</p>
<h2>
    AdamSyncEx</h2>
<p>
    Abstract
</p>